body {
  background-image: linear-gradient(#fe71ff, #99b1ff);
}

h1 {
  color: #fefb01;
  margin-left: 20px;
}
#darbtext {
  border: 30px solid #b8fe00;
  border-radius: 25px;
  padding: 50px;
  animation-name: ani;
  animation-duration: .1s;
  animation-iteration-count: infinite;
  margin: 20px;
  transform: rotateX(150deg)
}
@keyframes ani {
  from {background-color: #fe0213;}
  to {background-color: #0101fd;}
}
