body {
  background-image: linear-gradient(#fe71ff, #99b1ff);

}
#Darbyhead {
  color: #fbf790;
  font-family: Heritage;
  font-size: 150px;
  text-align: center;
  padding: 10px;
  animation-duration: .1s;
  animation-iteration-count: infinite;
  margin: 20px;
}

h2 {
  color: #fefb01;
  margin-left: 20px;
}
#darbtext {
  color: #84fcfd;
  font-family: Heritage;
  font-size: 150px;
  text-align: center;
  border: 30px solid #b8fe00;
  border-radius: 25px;
  padding: 50px;
  animation-name: ani;
  animation-duration: .01s;
  animation-iteration-count: infinite;
  margin: 20px;
}
@keyframes ani {
  from {background-color: #fe0213;}
  to {background-color: #0101fd;}
}
@font-face {
   font-family: Heritage;
   src: url(Heritage-Display.otf);
}
h3 {
  color: #fefb01;
  margin-left: 70px;
}
#moretext {
  color: #84fcfd;
  font-family: Heritage;
  font-size: 200px;
  text-align: center;
  background-image: url(scary.gif);
  background-size: contain;
  border: 30px solid #ff4753;
  height: 300px;
  border-radius: 25px;
  padding: 50px;
  margin: 50px;
}

h4 {
    color: #fefb01;
    margin-left: 70px;
}
  #stink {
    color: #84fcfd;
    font-family: Heritage;
    font-size: 200px;
    text-align: center;
    background-image: url(worms.gif);
    background-size: contain;
    border: 30px solid #00f9fe;
    height: 300px;
    border-radius: 25px;
    padding: 50px;
    margin: 50px;
}
